<main role="main" class="container center">
  <pb-breadcrumbs>
    <a [routerLink]="['/']">Home</a>
    <p>&nbsp;&nbsp;/&nbsp;&nbsp;</p>
    <p>Contact</p>
  </pb-breadcrumbs>

  <div class="help">
    <h2>Hello , {{ authService.getLoggedUser() }}!</h2>
    <span class="contacttext">Please send your queries to <span>nbansal@uncc.edu</span>
      <br>
      <br>
      We apologize for any inconvenience. Our team is committed to addressing your concerns promptly. Please rest
      assured that we will reach out to you as soon as possible. In the meantime, feel free to explore our website for
      more information about our products and services.
      <br>
      <br>
      Thank you for your understanding, and we appreciate your
      patience.
    </span>
    <div class="fom">
    </div>
  </div>
</main>

<script>
  document
    .getElementById("submitButton")
    .addEventListener("click", function () {
      alert("Your message has been submitted!");
    });
</script>