<main role="main" class="container center">
  <pb-breadcrumbs>
    <a [routerLink]="['/']" style="color: white;">Home / About</a>

  </pb-breadcrumbs>

  <div class="abcard">
    <img src="../../assets/expense-logo.png">

    <h2>BudgetBuddy</h2>
    <span class="aboutcard">Welcome!! <span class="sb">Budget Buddy</span> – is a comprehensive budgeting app that
      enables effortless
      financial management. Users can easily create
      personalized budgets, track expenses in real-time, set and monitor financial goals, and receive timely bill
      reminders. The app ensures security with bank-level encryption, offers customizable spending categories. It
      empowers users to take control of their money, make
      informed decisions, and work towards a brighter financial future.

    </span>
  </div>

</main>